body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: burlywood;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #a87139;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #964B00 ;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  padding-top: 10%;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  color: #a87139;
}

#sidebar .nav a{
  background: none;
  color: black;
  display: block;
  font-size: 20px;
  padding: 20px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.btn-info{
  background-color: yellow;
  width: 100px;
}

.btn-primary{
  background-color: #a87139;
  height: 5%;
  width: 120px;
}

.btn-success{
  background-color: chartreuse;
  height: 5%;
  margin-left: 22%;
}

.btn-successs{
  background-color: chartreuse;
  height: 5%;
}

.btn-danger{
  background-color: red;
  height: 5%;
  width: 120px;
}

.btn-dark{
  background-color: coral;
  height: 5%;
}

img {
width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  background-color: #addddd;
}